@font-face {
	font-family: 'sparqons';
	src:url('fonts/sparqons.eot?-wsmf4j');
	src:url('fonts/sparqons.eot?#iefix-wsmf4j') format('embedded-opentype'),
		url('fonts/sparqons.woff?-wsmf4j') format('woff'),
		url('fonts/sparqons.ttf?-wsmf4j') format('truetype'),
		url('fonts/sparqons.svg?-wsmf4j#sparqons') format('svg');
	font-weight: normal;
	font-style: normal;
}


// Font Awesome CSS additions - poaching their icon list styles thxbros
// http://fortawesome.github.io/

// Variables
// --------------------------

// $font-path:        "../fonts" !default;
//$fa-font-path:        "//netdna.bootstrapcdn.com/font-awesome/4.0.3/fonts" !default; // for referencing Bootstrap CDN font files directly
$fa-css-prefix:       icon !default;
$fa-version:          "4.0.3" !default;
$fa-border-color:     #eee !default;
$fa-inverse:          #fff !default;
$fa-li-width:        (30em / 14) !default;

@import "icon-larger",
        "icon-fixed-width",
        "icon-lists";

// End Font Awesome classes

// this is to align arrows with the bottom of the line of text. Ex: .icon.arrow-right2 >
span[class*="arrow"] {
  vertical-align: text-bottom;
}

.icon {
  font-family: "sparqons";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1em;
  speak: none;
  text-transform: none;

  // Better Font Rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // insert output CSS from icomoon; slightly modified for &: inclusion
  &.pdf:before {
    content: "\e627";
  }
  &.recognition:before {
    content: "\e625";
  }
  &.badge:before {
    content: "\e625";
  }
  &.add-circle-outline:before {
    content: "\e60f";
  }
  &.add-circle:before {
    content: "\e612";
  }
  &.alert-bell:before {
    content: "\e615";
  }
  &.arrow-back:before {
    content: "\e616";
  }
  &.arrow-forward:before {
    content: "\e617";
  }
  &.backspace:before {
    content: "\e61a";
  }
  &.band-aid1:before {
    content: "\e61d";
  }
  &.bolt:before {
    content: "\e629";
  }
  &.chat2:before {
    content: "\e62a";
  }
  &.code:before {
    content: "\e62b";
  }
  &.comment:before {
    content: "\e62c";
  }
  &.font-sizer:before {
    content: "\e62d";
  }
  &.globe:before {
    content: "\e62e";
  }
  &.home:before {
    content: "\e62f";
  }
  &.label-fill:before {
    content: "\e630";
  }
  &.label-outline:before {
    content: "\e631";
  }
  &.map-fold:before {
    content: "\e632";
  }
  &.menu:before {
    content: "\e633";
  }
  &.hamburger:before {
    content: "\e633";
  }
  &.new-release:before {
    content: "\e634";
  }
  &.pill:before {
    content: "\e635";
  }
  &.prescription:before {
    content: "\e636";
  }
  &.rx:before {
    content: "\e636";
  }
  &.minus-circle:before {
    content: "\e637";
  }
  &.remove-circle:before {
    content: "\e638";
  }
  &.search2:before {
    content: "\e639";
  }
  &.tag-heart:before {
    content: "\e63a";
  }
  &.accessible-not:before {
    content: "\e659";
  }
  &.accessible:before {
    content: "\e665";
  }
  &.asterisk-medical:before {
    content: "\e67a";
  }
  &.diamond:before {
    content: "\e67b";
  }
  &.disc-slash:before {
    content: "\e67f";
  }
  &.network-2:before {
    content: "\e646";
  }
  &.network-3:before {
    content: "\e647";
  }
  &.clipboard-check:before {
    content: "\63";
  }
  &.clipboard-x:before {
    content: "\64";
  }
  &.id-card-solid:before {
    content: "\69";
  }
  &.bookmark:before {
    content: "\72";
  }
  &.lock-open:before {
    content: "\75";
  }
  &.lock-closed:before {
    content: "\6c";
  }
  &.star:before {
    content: "\f005";
  }
  &.star1:before {
    content: "\f006";
  }
  &.star-hollow:before {
    content: "\f006";
  }
  &.star-half:before {
    content: "\f089";
  }
  &.star-half-empty:before {
    content: "\f123";
  }
  &.pencil2:before {
    content: "\f040";
  }
  &.send:before {
    content: "\f1d8";
  }
  &.search:before {
    content: "\e61e";
  }
  &.grid:before {
    content: "\e63f";
  }
  &.cog:before {
    content: "\e66c";
  }
  &.print:before {
    content: "\e66b";
  }
  &.calendar:before {
    content: "\e641";
  }
  &.bar-chart:before {
    content: "\e658";
  }
  &.filter:before {
    content: "\e622";
  }
  &.list-ul:before {
    content: "\e667";
  }
  &.user-md:before {
    content: "\e644";
  }
  &.hospital:before {
    content: "\e643";
  }
  &.facility:before {
    content: "\e643";
  }
  &.medkit:before {
    content: "\e642";
  }
  &.h-sign:before {
    content: "\e645";
  }
  &.compass:before {
    content: "\e668";
  }
  &.dollar:before {
    content: "\e610";
  }
  &.chat:before {
    content: "\e67c";
  }
  &.envelope:before {
    content: "\e67d";
  }
  &.envelope2:before {
    content: "\e67e";
  }
  &.phone2:before {
    content: "\e680";
  }
  &.mobile:before {
    content: "\e681";
  }
  &.cog2:before {
    content: "\e682";
  }
  &.attachment:before {
    content: "\e688";
  }
  &.clipboard:before {
    content: "\e689";
  }
  &.board:before {
    content: "\e68b";
  }
  &.user:before {
    content: "\e691";
  }
  &.person:before {
    content: "\e691";
  }
  &.user-man:before {
    content: "\e692";
  }
  &.male:before {
    content: "\e692";
  }
  &.user-woman:before {
    content: "\e693";
  }
  &.female:before {
    content: "\e693";
  }
  &.medicine:before {
    content: "\e68d";
  }
  &.users:before {
    content: "\e65c";
  }
  &.user-add:before {
    content: "\e662";
  }
  &.v-card:before {
    content: "\e623";
  }
  &.share:before {
    content: "\e649";
  }
  &.newspaper:before {
    content: "\e660";
  }
  &.logout:before {
    content: "\e66d";
  }
  &.login:before {
    content: "\e66e";
  }
  &.info-ital:before {
    content: "\e63e";
  }
  &.help:before {
    content: "\e63d";
  }
  &.question:before {
    content: "\e63d";
  }
  &.warning:before {
    content: "\e65a";
  }
  &.cycle:before {
    content: "\e661";
  }
  &.text2:before {
    content: "\e65f";
  }
  &.text-fill:before {
    content: "\e65e";
  }
  &.tri-left:before {
    content: "\e685";
  }
  &.tri-down:before {
    content: "\e686";
  }
  &.tri-up:before {
    content: "\e687";
  }
  &.tri-right:before {
    content: "\e68c";
  }
  &.arrow-left2:before {
    content: "\e696";
  }
  &.arrow-down2:before {
    content: "\e697";
  }
  &.arrow-up2:before {
    content: "\e698";
  }
  &.arrow-right2:before {
    content: "\e699";
  }
  &.arrow-left3:before {
    content: "\e69a";
  }
  &.arrow-down3:before {
    content: "\e683";
  }
  &.arrow-up3:before {
    content: "\e69b";
  }
  &.arrow-right3:before {
    content: "\e68f";
  }
  &.arrow-left4:before {
    content: "\e690";
  }
  &.arrow-down4:before {
    content: "\e694";
  }
  &.arrow-up4:before {
    content: "\e695";
  }
  &.arrow-right4:before {
    content: "\e684";
  }
  &.twitter:before {
    content: "\e624";
  }
  &.facebook:before {
    content: "\e626";
  }
  &.map-pin-primary:before {
    content: "\e66f";
  }
  &.map-pin-affiliated:before {
    content: "\e670";
  }
  &.quality-q-sm:before {
    content: "\e64b";
  }
  &.quality-q-lg:before {
    content: "\e65d";
  }
  &.network-1:before {
    content: "\e61f";
  }
  &.network-0:before {
    content: "\e620";
  }
  &.network-4:before {
    content: "\e620";
  }
  &.sticker-seal:before {
    content: "\e655";
  }
  &.telehealth:before {
    content: "\e64c";
  }
  &.checkmark:before {
    content: "\e603";
  }
  &.check:before {
    content: "\e603";
  }
  &.check-alt:before {
    content: "\e604";
  }
  &.check-round:before {
    content: "\e604";
  }
  &.x:before {
    content: "\e605";
  }
  &.close:before {
    content: "\e605";
  }
  &.x-alt:before {
    content: "\e606";
  }
  &.x-solid-round:before {
    content: "\e606";
  }
  &.doc:before {
    content: "\e601";
  }
  &.document-alt-stroke:before {
    content: "\e601";
  }
  &.doc-fill:before {
    content: "\e602";
  }
  &.document-alt-fill:before {
    content: "\e602";
  }
  &.plus:before {
    content: "\e608";
  }
  &.plus-alt:before {
    content: "\e607";
  }
  &.minus:before {
    content: "\e609";
  }
  &.minus-alt:before {
    content: "\e60a";
  }
  &.play-alt:before {
    content: "\e60b";
  }
  &.left-quote:before {
    content: "\e60c";
  }
  &.right-quote:before {
    content: "\e60d";
  }
  &.pen:before {
    content: "\e676";
  }
  &.target:before {
    content: "\e64e";
  }
  &.refresh:before {
    content: "\e621";
  }
  &.phone:before {
    content: "\e61b";
  }
  &.star-badge:before {
    content: "\e64f";
  }
  &.image:before {
    content: "\e678";
  }
  &.location:before {
    content: "\e663";
  }
  &.location2:before {
    content: "\e664";
  }
  &.map:before {
    content: "\e618";
  }
  &.map2:before {
    content: "\e619";
  }
  &.bubbles:before {
    content: "\e64d";
  }
  &.spinner-penta:before {
    content: "\e666";
  }
  &.stats:before {
    content: "\e651";
  }
  &.bars:before {
    content: "\e679";
  }
  &.flag:before {
    content: "\e675";
  }
  &.bookmarks:before {
    content: "\e69c";
  }
  &.heart:before {
    content: "\e648";
  }
  &.heart-broken:before {
    content: "\e64a";
  }
  &.radio-checked:before {
    content: "\e613";
  }
  &.radio-unchecked:before {
    content: "\e614";
  }
  &.youtube:before {
    content: "\e60e";
  }
  &.play:before {
    content: "\e61c";
  }
}

