.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

/* =======================================================================================
Example showing how to change the color/size of the icons:
.name {
	font-size: 32px; // works because "width" & "height" were set using em units
	color: red; // works for single-colored icons, because "fill" was set to "currentColor"
}
======================================================================================== */

.star {
	width: 0.9287109375em;
}

.star1 {
	width: 0.9287109375em;
}

.star-half {
	width: 0.5em;
}

.star-half-empty {
	width: 0.9287109375em;
}

.search {
	width: 0.9287109375em;
}

.cog {
	width: 0.857421875em;
}

.print {
	width: 0.9287109375em;
}

.calendar {
	width: 0.9287109375em;
}

.bar-chart {
	width: 1.0712890625em;
}

.filter {
	width: 0.7861328125em;
}

.user-md {
	width: 0.7861328125em;
}

.hospital {
	width: 0.7861328125em;
}

.h-sign {
	width: 0.857421875em;
}

.compass {
	width: 0.857421875em;
}

.dollar {
	width: 0.5712890625em;
}

.doc {
	width: 0.75em;
}

.doc-fill {
	width: 0.75em;
}

.bubbles {
	width: 1.125em;
}
